body{
  margin: -1px;
  font-family: Verdana, Helvetica, sans-serif;
  width: 100vw;
}

#headImg{
  display: block;
  margin: auto;
  padding: 25vh;
}

.blackBar{
  top: 0;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  padding: 2vh;
}
#bar2{
  position: static;
}

.navButton{
  padding-left: 1vw;
  text-decoration: none;
  color: white;
}

#content{
  color: black;
  /* padding: 10vh; */
}

.textContainer{
  margin: 10vh;
}

.separator{
  margin-top: 5vh;
  border-bottom: 2px solid lightgray;
}

#footerPage{
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  padding: 10vw;
  border: 3px solid red;
}
